// 초기화
@import "../fonts/reset.css";

// 변수선언
@import "variable";

.wrapper {
  padding: 0 7rem;
}
input {
  width: 320px;
  border-radius: 20px;
  border: $border;
  font-size: 14px;
  margin-left: 10px;
  padding: 8px 40px 8px 12px;
  &:focus {
    border-color: $Click;
  }
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
