// 초기화
@import "../fonts/reset.css";

// 변수선언
@import "variable";

.wrapper {
  padding-left: $padding;
  padding-right: $padding;
}
input {
  border-radius: 20px;
  border: $border;
  font-size: 14px;
  padding: 0.5rem 0.75rem;
}
