// 1. 프리텐다드
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  // font-weight: normal;
  font-style: normal;
}

// 2. 부대찌개
@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
// @font-face {
//   font-family: "TTTtangsbudaejjigaeB";
//   src: url("./땅스부대찌개Bold.ttf") format("ttf");
// }

// // 부대찌개
// @font-face {
//   font-family: "TTTtangsbudaejjigaeL";
//   src: url("./땅스부대찌개Light.ttf") format("ttf");
// }
// @font-face {
//   font-family: "TTTtangsbudaejjigaeM";
//   src: url("./땅스부대찌개Medium.ttf") format("ttf");
// }

// 3. 마포꽃섬
@font-face {
  font-family: "MapoFlowerIsland";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// 4. 나눔스퀘어 네오
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

// 5. HS봄바람체 2.0
@font-face {
  font-family: "HSBombaram";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// 6.교보문고 손글씨 성지영
@font-face {
  font-family: "KyoboHandwriting2021sjy";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

// 7. ACC 어린이 마음고운체
@font-face {
  font-family: "ACCchildrenheartOTF-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
// 8. 평창평화체
@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

// 9. 야놀자야체
@font-face {
  font-family: "YanoljaYacheR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// 10. 둥근모꼴+ Fixedsys
@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// 11.안성탕면 ESG에코체
@font-face {
  font-family: "Ansungtangmyun-ESG";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-ESG.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

// 12. Y콤퓨타체
@font-face {
  font-family: "Ycomputer-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
