@import "../assets/style/variable.scss";
@import "../assets/fonts/font.scss";

.wrapper {
  .flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .txt {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 1.7rem;
      // justify-content: ;

      h3 {
        font-size: $h3Size;
        color: $h3Color;
        font-weight: $h3Weight;
      }
      p {
        font-size: 16px;
        color: #6b7280;
        margin-left: 1.5rem;
      }
    }
    .btn {
      display: flex;
      flex-direction: row;
      color: #000;
      border-radius: 0.15rem;
      padding: 10px;
      background: $Click;
    }
  }
  .input {
    display: flex;
    padding: 10px;
    .search svg {
      position: absolute;
      top: 158px;
      left: 420px;
    }
    .try svg {
      position: absolute;
      top: 158px;
      left: 745px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 2vw;
    margin: 0 auto;

    .flex {
      display: flex;
      flex-direction: column;
      border: 1px solid $colorLine;
      transition: 0.3s;
      &:hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        &:hover .click {
          background-color: $Click;
        }
        &:hover svg {
          stroke: #6b7280;
        }
      }
      .click {
        border: none;
        background-color: inherit;
        .hover {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: 10px;
        }
        h4 {
          font-size: 24px;
          padding: 15px;
          padding-bottom: 0;
          height: 50px;
        }
        p {
          padding-left: 15px;
          font-size: 0.875rem;
          line-height: 1.25rem;
          height: 20px;
        }
        .line {
          border-top: 1px solid $colorLine;
          margin: 16px 0 0;
        }
      }
      textarea {
        border: none;
        height: 144px;
        padding: 0 10px;
        margin: 16px 10px 0;
        resize: none;
        outline-color: #fff;

        &::placeholder {
          color: #000;
        }
      }
      .textarea {
        border: none;
        height: 144px;
        padding: 0 10px;
        margin: 16px 10px 0;
        resize: none;
        outline-color: #fff;
      }
      span {
        font-size: 30px;
        padding: 10px;
      }
      .bold {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 0 15px;
        font-size: 14px;
      }
    }
  }
}
