@import "../assets/style/variable.scss";

.wrapper {
  color: #0d1117;
  .top {
    display: flex;
    justify-content: space-between;

    .txt {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        font-size: 60px;
        color: rgb(13, 17, 23);
        font-weight: 400;
        line-height: 1.5;
      }
      .exp {
        display: flex;
        gap: 10px;
      }
      p {
        font-size: 14px;
        color: #6b7280;
        margin-right: 10px;
      }
    }
    .dowmload {
      display: flex;
      align-items: center;

      a {
        border-radius: 2px;
        padding: 10px 20px;
        font-size: 14px;
        background-color: $Click;
      }
      .modal .btn {
        border: $border;
        border-radius: 2px;
        padding: 6px 15px;
        margin-left: 10px;
        cursor: pointer;
        line-height: 20px;
        color: #6b7280;
        svg {
          vertical-align: top;
        }
      }
    }
  }
  .bold {
    display: flex;
    line-height: 1.5;
    textarea {
      border: none;
      padding: 0 10px;
      margin: 16px 10px 0;
      resize: none;
      outline-color: #fff;
      font-size: 1.5rem;
      line-height: 2rem;

      &::placeholder {
        color: #000;
      }
    }
  }
  .bold2 {
    width: 80%;
    .prev {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-direction: row;
      .pre {
        white-space: pre-wrap;
        display: flex;
        flex-direction: column;
      }
      .str {
        padding: 10px;
        display: flex;
        flex-direction: column;
      }
      .try {
        padding: 10px 0;
        display: flex;
        .slidecontainer {
          width: 100%;
        }

        /* The slider itself */
        .slider {
          -webkit-appearance: none;
          appearance: none;
          width: 100%;
          height: 15px;
          border-radius: 5px;
          background: #d3d3d3;
          outline: none;
          opacity: 0.7;
          -webkit-transition: 0.2s;
          transition: opacity 0.2s;
        }

        /* Mouse-over effects */
        .slider:hover {
          opacity: 1;
        }

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #04aa6d;
          cursor: pointer;
        }

        .slider::-moz-range-thumb {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #04aa6d;
          cursor: pointer;
        }
      }

      .line {
        padding-top: 10px;
        width: 100%;
        border-top: $border;
      }
    }
    .map {
      display: flex;
      flex-direction: column;
      line-height: 1.5;
      .weight {
        display: flex;
        align-items: center;
      }
      input {
        border: none;
        width: 60%;
        padding: 8px 10px;
        resize: none;
        outline-color: #fff;
        font-size: 1.5rem;
        line-height: 2rem;

        &::placeholder {
          color: #000;
        }
      }
    }

    .license {
      width: 60%;
      display: flex;
      flex-direction: column;
      white-space: pre-line;
      margin-top: 20px;

      p {
        background-color: $Click;
        font-weight: bold;
        display: inline;
        font-size: 20px;
      }
      .license-p {
        padding: 10px 0;
      }
      .license-border {
        border: 1px solid rgb(228, 228, 231);
        padding: 20px;
        margin-top: 8px;

        color: #374151;
      }
      span {
        color: rgb(107, 114, 128);
        font-size: 14px;
        margin-top: 8px;
      }
    }
  }
}
