@import "../assets/style/variable.scss";

.navigation {
  display: flex;
  align-items: center;
  .globalNav {
    display: flex;
    li {
      position: relative;
      // display: flex;
      // align-items: center;
      padding-left: 20px;

      a {
        text-decoration: none;
        font-size: 12px;
        padding: 0 8px;
        height: 56px;
        line-height: 56px;
        transition: 0.3s;
        color: $color;
        border-bottom: 0 solid yellow;
        &:hover {
          transition: 0.2s;
          border-bottom: 2px solid yellow;
        }
      }
    }
  }
  .input {
    display: flex;
    align-items: center;
    color: white;
    svg {
      position: absolute;
      top: 18px;
      // left: 45.5%;
    }
    .dark {
      position: absolute;
      top: 10px;
      // left: 47.5%;
    }
  }
  .icon {
    // display: flex;
    // align-items: center;
    button {
      display: flex;
      border: 2px solid #e5e7eb;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      background-color: inherit;
      position: absolute;
      top: 13px;
      right: 150px;
      padding: 0;
      margin: 0;
      &:hover {
        border: 3px solid #e5e7eb;
      }
      img {
        width: 27px;
        // padding: 0.125rem;
        border-radius: 50%;
      }
    }
    // 소메뉴
    .subMenu {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      background-color: #fff;
      width: 150px;
      position: absolute;
      top: 56px;
      opacity: 0;
      pointer-events: none;
      transform: translateY(10px);
      transition: 0.5s;
      a {
        padding: 8px 16px;
        font-size: 12px;
        text-decoration: none;
        color: rgb(55, 65, 81);
        &:hover {
          background-color: #ddd;
        }
      }
    }
    &:hover .subMenu {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }
  }
}
