@import "../assets/style/variable.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e5e7eb;
  margin: 0 auto;
  padding-left: 115px;
  padding-right: 165px;
  height: 56px;
  transition: 0.4s;
  background-color: #fff;

  &.on {
    background-color: #fff;
    border-bottom: none;
  }
}
